<div class="center hero-unit">
  <h1>Welcome to xHx space</h1>

  <h2>
     This is a demonstration of sample ruby web application
  </h2>

  <%= link_to "Start now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div style='overflow:hidden'>
<div style='float:right'>
	<%= link_to image_tag("bottle.jpeg", alt: "Rails"), '#' %>
</div>
</div>

