<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a id="logo">sample app</a>
      <nav>
        <ul class="nav pull-right">
          <li class ='header_li'><%= link_to "Home",   root_path, {:style=>"color: #FFFFFF;font-weight:bold;"} %></li>
          <li class ='header_li'><%= link_to "Help",    help_path, {:style=>"color: #FFFFFF;font-weight:bold;"} %></li>
          <li class ='header_li'><%= link_to "Sign in", signup_path, {:style=>"color: #FFFFFF;font-weight:bold;"} %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>